<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">スタッフ新規登録</h2>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :name, "ユーザー名" %><br />
          <%= f.text_field :name, id:"user_name",autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :staff_code, "スタッフコード" %><br />
          <%= f.text_area :staff_code, id:"user_staff_code" %>
        </div>


        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>