<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">スタッフログイン</h2>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>