<!DOCTYPE html>
<html>
  <head>
    <title>CarestaffJobVisual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="inner">
        <div class="nav">
          <% if user_signed_in? %>
          <div class="nav__right">
            <%= link_to "ログアウト",destroy_user_session_path , method: :delete, class: :nav__logout %>
            <%= link_to "見える化", "#", class: :nav__btn %>
          </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
